/* About Section */
.about {

}

.about-item {
    width: 30%;
    text-align: center;
    border: 1px solid var(--Whispercolor);
    padding: 50px 20px;
}

.about-item:hover .about-item-title{
    color: var(--whitecolor);
}

.about-item.mg { /*one element has all these classes*/
    margin: 0 5%;
}

.about-item .icon {
    color: var(--maincolor);
}

.about-item-title {
    transition: color 0.5s;
}

.about-item-desc {
    line-height: 1.6;
    color: var(--graycolor);
}

.about-item-link {
    color: var(--maincolor);
}
